<main id="mainContent">
	<div class="text-center header">
		<h1>Image classification</h1>
		
		<div>
			<p>Upload an image to begin.</p>
			<form class="row form-group" (submit)="handleUploadImage()">
				<label *ngIf="!uploadInProgress" for="fileUpload" class="col-2 mx-auto file-upload btn btn-primary btn-block rounded-pill shadow">
					<fa-icon [icon]="fileUploadIcon"></fa-icon>
					Upload
					<input id="fileUpload" type="file" name="image" (change)="onFileChanged($event)" multiple>
				</label>
				<button *ngIf="uploadInProgress" class="col-2 mx-auto file-upload btn btn-primary btn-block rounded-pill shadow" disabled>
					<span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
					Analyzing
				</button>

				<!-- TODO add feature picker -->
			</form>
		</div>
	</div>
	
	<!-- TODO return search value -->
	<div *ngIf="gridImages.length" class="row mt-5">
		<app-typeahead-searchbox class="col-2 mx-auto" [labels]="allImageLabels" (query)="filterImages($event)"></app-typeahead-searchbox>
	</div>
	
	<div class="container mt-5">
		<div class="row justify-content-around text-center pb-5">
			<app-grid-box
			class="col-4 p-5 card d-block"
			*ngFor="let image of gridImages | annotationsFilter:searchQuery; let i = index"
			[filename]="image.filename"
			[header]="image.labelAnnotations ? image.labelAnnotations[0].description : null"
			[labels]="image.labelAnnotations"
			[image]="image.b64"
			(delete)="handleDeleteImage(image.filename, image.index != undefined ? image.index : i)"
			>
		</app-grid-box>
	</div>
</div>
<app-warning-message
*ngIf="WarningMessageOpen"
[text]="WarningMessageText"
(WarningMessageOpen)="handleWarningClose($event)"
>
</app-warning-message>
</main>
