<main id="mainContent">
	<div class="text-center header">
		<h1>Classified</h1>
		<p>Upload an image to begin image classification.</p>
		<form (submit)="handleUploadPhoto()">
			<input type="file" name="photo" (change)="onFileChanged($event)"/>
			<button type="submit">Submit</button>
		</form>
	</div>
	
	<div class="container">
		<div class="row justify-content-center py-5">
			<h1>Gallery</h1>
		</div>
		<div class="row justify-content-around text-center pb-5">
			<app-grid-box
			class="col-4 p-5"
			*ngFor="let image of gridImages"
			[filename]="image.filename"
			[header]="image.labelAnnotations[0].description"
			[labels]="image.labelAnnotations"
			[image]="image.b64"
			>
			</app-grid-box>
		</div>
	</div>
	<app-warning-message
	*ngIf="WarningMessageOpen"
	[text]="WarningMessageText"
	(WarningMessageOpen)="handleWarningClose($event)"
	>
	</app-warning-message>
</main>
